.flex-rectangle {
    max-width: 4.8%;
    background:#707070;
    padding: 0.5%;
    position: relative;
    display:inline-block;
}

.data {
    font-size: 100%;
}

.tabText {
    font-size: 80%;
}
