<div style="width:100%; height:100%;">
	<div style="text-align:center; position:relative; top: 30px">
		<div class="flex-rectangle" id="30">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[0]}}" ng-click="dataCtrl.showSoutheastData(1)" class="pointer">
			<span style="color: white">30</span>
		</div>
		<div class="flex-rectangle" id="31">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[1]}}" ng-click="dataCtrl.showSoutheastData(2)" class="pointer">
			<span style="color: white">31</span>
		</div>
		<div class="flex-rectangle" id="32">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[2]}}" ng-click="dataCtrl.showSoutheastData(3)" class="pointer">
			<span style="color: white">32</span>
		</div>
		<div class="flex-rectangle" id="33">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[3]}}" ng-click="dataCtrl.showSoutheastData(4)" class="pointer">
			<span style="color: white">33</span>
		</div>
		<div class="flex-rectangle" id="34">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[4]}}" ng-click="dataCtrl.showSoutheastData(5)" class="pointer">
			<span style="color: white">34</span>
		</div>
		<div class="flex-rectangle" id="35">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[5]}}" ng-click="dataCtrl.showSoutheastData(6)" class="pointer">
			<span style="color: white">35</span>
		</div>
		<div class="flex-rectangle" id="36">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[6]}}" ng-click="dataCtrl.showSoutheastData(7)" class="pointer">
			<span style="color: white">36</span>
		</div>
		<div class="flex-rectangle" id="37">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[7]}}" ng-click="dataCtrl.showSoutheastData(8)" class="pointer">
			<span style="color: white">37</span>
		</div>
		<div class="flex-rectangle" id="38">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[8]}}" ng-click="dataCtrl.showSoutheastData(9)" class="pointer">
			<span style="color: white">38</span>
		</div>
		<div class="flex-rectangle" id="39">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[9]}}" ng-click="dataCtrl.showSoutheastData(10)" class="pointer">
			<span style="color: white">39</span>
		</div>
		<div class="flex-rectangle" id="40">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[10]}}" ng-click="dataCtrl.showSoutheastData(11)" class="pointer">
			<span style="color: white">40</span>
		</div>
		<div class="flex-rectangle" id="41">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[11]}}" ng-click="dataCtrl.showSoutheastData(12)" class="pointer">
			<span style="color: white">41</span>
		</div>
		<div class="flex-rectangle" id="42">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[12]}}" ng-click="dataCtrl.showSoutheastData(13)" class="pointer">
			<span style="color: white">42</span>
		</div>
		<div class="flex-rectangle" id="43">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[13]}}" ng-click="dataCtrl.showSoutheastData(14)" class="pointer">
			<span style="color: white">43</span>
		</div>
		<div class="flex-rectangle" id="44">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[14]}}" ng-click="dataCtrl.showSoutheastData(15)" class="pointer">
			<span style="color: white">44</span>
		</div>
		<div class="flex-rectangle" id="45">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[15]}}" ng-click="dataCtrl.showSoutheastData(16)" class="pointer">
			<span style="color: white">45</span>
		</div>
		<div class="flex-rectangle" id="46">
			<img style="max-height:100%; max-width:100%" ng-src="{{southeastCarArray[16]}}" ng-click="dataCtrl.showSoutheastData(17)" class="pointer">
			<span style="color: white">46</span>
		</div>
	</div>
</div>