<!DOCTYPE html>
<html lang="en" ng-app="InstaPark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>InstaPark</title>

    <link href="css/angular-material.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/frontPageStyle.css" rel="stylesheet">
    <link href="css/material.min.css" rel="stylesheet">
    <link href="css/mdl-icon.css" rel="stylesheet">
    <link href="css/material.min.css" rel="stylesheet">


    <link rel='stylesheet' media='screen and (max-width: 700px)' href='css/narrow.css' />
    <link rel='stylesheet' media='screen and (max-width: 700px)' href='css/popupNarrow.css' />

    <link rel='stylesheet' media='screen and (min-width: 701px)' href='css/wide.css' />
    <link rel='stylesheet' media='screen and (min-width: 701px)' href='css/popupWide.css' />

    <link rel="shortcut icon" type="image/png" href="/images/parkingIcon.png"/>

    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/bootstrap.js"></script>
    <script src="/js/vendor/mdl-material.min.js"></script>
    <script src="/js/vendor/angular-animate.min.js"></script>
    <script src="/js/vendor/angular-aria.min.js"></script>
    <script src="/js/vendor/angular-material.js"></script>
    <script src="/js/vendor/angular-messages.min.js"></script>

    <script src="/js/app.js"></script>
    
    <script src="/js/factorys/parkingFactory.js"></script>
    
    <script src="/js/controllers/garage-controller.js"></script>
    <script src="/js/controllers/date-controller.js"></script>
</head>

<body>

</head>

<body>
    <div id="main">
      <div ng-controller="DateController as dateCtrl">
      <div ng-controller="GarageController as garageCtrl">

        <div class="mdl-layout mdl-js-layout">  
          <main class="mdl-layout__content">  

            <!-- DATE PICKER -->
            <div style="text-align: center; background: white">
              <md-datepicker ng-model="dateCtrl.viewDate" md-placeholder="Today's date" ng-change="dateCtrl.setDate(); garageCtrl.changeDate(); garageCtrl.clearText()"></md-datepicker>
            </div>

            <!-- CAR DISPLAY -->
            <div class="mdl-tabs mdl-js-tabs" style="margin-top: 0px;">
                  <div class="mdl-tabs__tab-bar">
                     <a href="#nese" style = "color: white;" class="mdl-tabs__tab is-active" ng-click="garageCtrl.clearText()"><span class="tabText"><b>East</b></span></a>
                     <a href="#nwsw" style = "color: white" class="mdl-tabs__tab" ng-click="garageCtrl.clearText()"><span class="tabText"><b>West</b></span></a>
                  </div>
                  <div class="mdl-tabs__panel is-active" id="nese">
                     <east-section></east-section>
                  </div>
                  <div class="mdl-tabs__panel" id="nwsw">
                     <west-section></west-section>
                  </div>
            </div>

             <!-- INFORMATION DISPLAY -->
            <div id="popupContainer" class="md-padding" style="margin-top: 10px" ng-cloak>
              <!-- DATA -->
              <div class='usingWhitespace dialog-demo-content data' style="text-align: center; color: white">{{garageCtrl.data}}</div> <br>
              <div style="text-align: center;">
                  <!-- button to make new reservation-->
                <md-button class="md-primary md-raised" ng-show="garageCtrl.displayNewReservationButton" ng-click="garageCtrl.showAdvanced($event)" flex flex-md="100" style="position: relative;">
                  NEW RESERVATION
                </md-button>

                  <!-- button to delete current reservation -->
                <md-button class="md-primary md-raised" ng-show="garageCtrl.displayDeleteButton" ng-click="garageCtrl.showConfirm($event)" style="position: relative;">
                  DELETE RESERVATION
                </md-button>
              </div>
            </div>
          </main>
        </div>
      </div>
      </div>
    </div>
</body>
</html>
