<div style="width:100%; height:100%;">
	<div style="text-align:center; position:relative; top: 30px">
		<div class="flex-rectangle" id="15">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[14]}}" ng-click="dataCtrl.showNorthwestData(15)" class="pointer">
			<span style="color: white">15</span>
		</div>
		<div class="flex-rectangle" id="14">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[13]}}" ng-click="dataCtrl.showNorthwestData(14)" class="pointer">
			<span style="color: white">14</span>
		</div>
		<div class="flex-rectangle" id="13">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[12]}}" ng-click="dataCtrl.showNorthwestData(13)" class="pointer">
			<span style="color: white">13</span>
		</div>
		<div class="flex-rectangle" id="12">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[11]}}" ng-click="dataCtrl.showNorthwestData(12)"class="pointer">
			<span style="color: white">12</span>
		</div>
		<div class="flex-rectangle" id="11">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[10]}}" ng-click="dataCtrl.showNorthwestData(11)" class="pointer">
			<span style="color: white">11</span>
		</div>
		<div class="flex-rectangle" id="10">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[9]}}" ng-click="dataCtrl.showNorthwestData(10)" class="pointer" >
			<span style="color: white">10</span>
		</div>
		<div class="flex-rectangle" id="9">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[8]}}" ng-click="dataCtrl.showNorthwestData(9)" class="pointer">
			<span style="color: white">9</span>
		</div>
		<div class="flex-rectangle" id="8">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[7]}}" ng-click="dataCtrl.showNorthwestData(8)" class="pointer">
			<span style="color: white">8</span>
		</div>
		<div class="flex-rectangle" id="7">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[6]}}" ng-click="dataCtrl.showNorthwestData(7)" class="pointer" >
			<span style="color: white">7</span>
		</div>
		<div class="flex-rectangle" id="6">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[5]}}" ng-click="dataCtrl.showNorthwestData(6)" class="pointer">
			<span style="color: white">6</span>
		</div>
		<div class="flex-rectangle" id="5">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[4]}}" ng-click="dataCtrl.showNorthwestData(5)" class="pointer">
			<span style="color: white">5</span>
		</div>
		<div class="flex-rectangle" id="4">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[3]}}"  ng-click="dataCtrl.showNorthwestData(4)"class="pointer">
			<span style="color: white">4</span>
		</div>
		<div class="flex-rectangle" id="3">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[2]}}" ng-click="dataCtrl.showNorthwestData(3)" class="pointer">
			<span style="color: white">3</span>
		</div>
		<div class="flex-rectangle" id="2">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[1]}}" ng-click="dataCtrl.showNorthwestData(2)" class="pointer">
			<span style="color: white">2</span>
		</div>
		<div class="flex-rectangle" id="1">
			<img style="max-height:100%; max-width:100%" ng-src="{{northwestCarArray[0]}}" ng-click="dataCtrl.showNorthwestData(1)" class="pointer">			
			<span style="color: white">1</span>
		</div>
	</div>
</div>