<div style="width:100%; height:100%;">
	<div style="text-align:center; position:relative; top: 30px">
		<div class="flex-rectangle" id="29">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[13]}}" ng-click="dataCtrl.showNortheastData(14)" class="pointer">
			<span style="color: white">29</span>
		</div>
		<div class="flex-rectangle" id="28">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[12]}}" ng-click="dataCtrl.showNortheastData(13)" class="pointer">
			<span style="color: white">28</span>
		</div>
		<div class="flex-rectangle" id="27">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[11]}}" ng-click="dataCtrl.showNortheastData(12)" class="pointer">
			<span style="color: white">27</span>
		</div>
		<div class="flex-rectangle" id="26">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[10]}}" ng-click="dataCtrl.showNortheastData(11)" class="pointer">
			<span style="color: white">26</span>
		</div>
		<div class="flex-rectangle" id="25">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[9]}}" ng-click="dataCtrl.showNortheastData(10)" class="pointer">
			<span style="color: white">25</span>
		</div>
		<div class="flex-rectangle" id="24">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[8]}}" ng-click="dataCtrl.showNortheastData(9)" class="pointer">
			<span style="color: white">24</span>
		</div>
		<div class="flex-rectangle" id="23">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[7]}}" ng-click="dataCtrl.showNortheastData(8)" class="pointer">
			<span style="color: white">23</span>
		</div>
		<div class="flex-rectangle" id="22">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[6]}}" ng-click="dataCtrl.showNortheastData(7)" class="pointer">
			<span style="color: white">22</span>
		</div>
		<div class="flex-rectangle" id="21">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[5]}}" ng-click="dataCtrl.showNortheastData(6)" class="pointer">
			<span style="color: white">21</span>
		</div>
		<div class="flex-rectangle" id="20">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[4]}}" ng-click="dataCtrl.showNortheastData(5)" class="pointer">
			<span style="color: white">20</span>
		</div>
		<div class="flex-rectangle" id="19">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[3]}}" ng-click="dataCtrl.showNortheastData(4)" class="pointer" >
			<span style="color: white">19</span>
		</div>
		<div class="flex-rectangle" id="18">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[2]}}" ng-click="dataCtrl.showNortheastData(3)" class="pointer">
			<span style="color: white">18</span>
		</div>
		<div class="flex-rectangle" id="17">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[1]}}" ng-click="dataCtrl.showNortheastData(2)" class="pointer">
			<span style="color: white">17</span>
		</div>
		<div class="flex-rectangle" id="16">
			<img style="max-height:100%; max-width:100%" ng-src="{{northeastCarArray[0]}}" ng-click="dataCtrl.showNortheastData(1)" class="pointer">
			<span style="color: white">16</span>
		</div>
	</div>
</div>