<!-- RESERVATION DATA -->
<div id="reservationData" ng-show="selectedStatus === 'reserved'">
	<span>Begin Park Date</span> <br>
	<div style="background:white">
		<md-datepicker ng-model="newBeginParkDate" md-placeholder="{{newBeginParkDate}}"></md-datepicker> 
	</div>
	<br><br>

	<span>End Park Date</span> <br>
	<div style="background:white">
		<md-datepicker ng-model="newEndParkDate" md-placeholder="{{newEndParkDate}}"></md-datepicker> 
	</div>
	<br><br>

	<span>Reason</span> <br>
	<div class="form-group">
        <textarea class="form-control" rows="5" cols="12" ng-model="reason"></textarea>
    </div>

    <span>Parker Name</span> <br>
    <input class="form-control" ng-model="reservationParkerName"> <br><br>

    <button ng-click="sidebardataCtrl.closeNav(); sidebardataCtrl.updateDatabase()" style="color:black">Submit</button>
</div> 