<div style="width:100%; height:100%;">
	<div style="text-align:center; position:relative; margin-top: 5px">
		<div class="flex-rectangle" id="29">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[13]}}" ng-click="dataCtrl.showNESEData(29)" class="pointer">
			<span style="color: white">29</span>
		</div>
		<div class="flex-rectangle" id="28">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[12]}}" ng-click="dataCtrl.showNESEData(28)" class="pointer">
			<span style="color: white">28</span>
		</div>
		<div class="flex-rectangle" id="27">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[11]}}" ng-click="dataCtrl.showNESEData(27)" class="pointer">
			<span style="color: white">27</span>
		</div>
		<div class="flex-rectangle" id="26">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[10]}}" ng-click="dataCtrl.showNESEData(26)" class="pointer">
			<span style="color: white">26</span>
		</div>
		<div class="flex-rectangle" id="25">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[9]}}" ng-click="dataCtrl.showNESEData(25)" class="pointer">
			<span style="color: white">25</span>
		</div>
		<div class="flex-rectangle" id="24">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[8]}}" ng-click="dataCtrl.showNESEData(24)" class="pointer">
			<span style="color: white">24</span>
		</div>
		<div class="flex-rectangle" id="23">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[7]}}" ng-click="dataCtrl.showNESEData(23)" class="pointer">
			<span style="color: white">23</span>
		</div>
		<div class="flex-rectangle" id="22">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[6]}}" ng-click="dataCtrl.showNESEData(22)" class="pointer">
			<span style="color: white">22</span>
		</div>
		<div class="flex-rectangle" id="21">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[5]}}" ng-click="dataCtrl.showNESEData(21)" class="pointer">
			<span style="color: white">21</span>
		</div>
		<div class="flex-rectangle" id="20">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[4]}}" ng-click="dataCtrl.showNESEData(20)" class="pointer">
			<span style="color: white">20</span>
		</div>
		<div class="flex-rectangle" id="19">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[3]}}" ng-click="dataCtrl.showNESEData(19)" class="pointer" >
			<span style="color: white">19</span>
		</div>
		<div class="flex-rectangle" id="18">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[2]}}" ng-click="dataCtrl.showNESEData(18)" class="pointer">
			<span style="color: white">18</span>
		</div>
		<div class="flex-rectangle" id="17">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[1]}}" ng-click="dataCtrl.showNESEData(17)" class="pointer">
			<span style="color: white">17</span>
		</div>
		<div class="flex-rectangle" id="16">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[0]}}" ng-click="dataCtrl.showNESEData(16)" class="pointer">
			<span style="color: white">16</span>
		</div>
	</div>

	<div style="text-align:center; position: relative; margin-top: 5px">
		<div class="flex-rectangle" id="30">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[14]}}" ng-click="dataCtrl.showNESEData(30)" class="pointer">
			<span style="color: white">30</span>
		</div>
		<div class="flex-rectangle" id="31">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[15]}}" ng-click="dataCtrl.showNESEData(31)" class="pointer">
			<span style="color: white">31</span>
		</div>
		<div class="flex-rectangle" id="32">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[16]}}" ng-click="dataCtrl.showNESEData(32)" class="pointer">
			<span style="color: white">32</span>
		</div>
		<div class="flex-rectangle" id="33">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[17]}}" ng-click="dataCtrl.showNESEData(33)" class="pointer">
			<span style="color: white">33</span>
		</div>
		<div class="flex-rectangle" id="34">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[18]}}" ng-click="dataCtrl.showNESEData(34)" class="pointer">
			<span style="color: white">34</span>
		</div>
		<div class="flex-rectangle" id="35">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[19]}}" ng-click="dataCtrl.showNESEData(35)" class="pointer">
			<span style="color: white">35</span>
		</div>
		<div class="flex-rectangle" id="36">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[20]}}" ng-click="dataCtrl.showNESEData(36)" class="pointer">
			<span style="color: white">36</span>
		</div>
		<div class="flex-rectangle" id="37">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[21]}}" ng-click="dataCtrl.showNESEData(37)" class="pointer">
			<span style="color: white">37</span>
		</div>
		<div class="flex-rectangle" id="38">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[22]}}" ng-click="dataCtrl.showNESEData(38)" class="pointer">
			<span style="color: white">38</span>
		</div>
		<div class="flex-rectangle" id="39">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[23]}}" ng-click="dataCtrl.showNESEData(39)" class="pointer">
			<span style="color: white">39</span>
		</div>
		<div class="flex-rectangle" id="40">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[24]}}" ng-click="dataCtrl.showNESEData(40)" class="pointer">
			<span style="color: white">40</span>
		</div>
		<div class="flex-rectangle" id="41">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[25]}}" ng-click="dataCtrl.showNESEData(41)" class="pointer">
			<span style="color: white">41</span>
		</div>
		<div class="flex-rectangle" id="42">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[26]}}" ng-click="dataCtrl.showNESEData(42)" class="pointer">
			<span style="color: white">42</span>
		</div>
		<div class="flex-rectangle" id="43">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[27]}}" ng-click="dataCtrl.showNESEData(43)" class="pointer">
			<span style="color: white">43</span>
		</div>
		<div class="flex-rectangle" id="44">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[28]}}" ng-click="dataCtrl.showNESEData(44)" class="pointer">
			<span style="color: white">44</span>
		</div>
		<div class="flex-rectangle" id="45">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[29]}}" ng-click="dataCtrl.showNESEData(45)" class="pointer">
			<span style="color: white">45</span>
		</div>
		<div class="flex-rectangle" id="46">
			<img style="max-height:100%; max-width:100%" ng-src="{{NESECarArray[30]}}" ng-click="dataCtrl.showNESEData(46)" class="pointer">
			<span style="color: white">46</span>
		</div>
	</div>
</div>