<div style="width:100%; height:100%;">
	<div style="text-align:center; position:relative; margin-top: 5px">
		<div class="flex-rectangle" id="15">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[14]}}" ng-click="dataCtrl.showNWSWData(15, 'NW')" class="pointer">
			<span style="color: white">15</span>
		</div>
		<div class="flex-rectangle" id="14">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[13]}}" ng-click="dataCtrl.showNWSWData(14, 'NW')" class="pointer">
			<span style="color: white">14</span>
		</div>
		<div class="flex-rectangle" id="13">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[12]}}" ng-click="dataCtrl.showNWSWData(13, 'NW')" class="pointer">
			<span style="color: white">13</span>
		</div>
		<div class="flex-rectangle" id="12">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[11]}}" ng-click="dataCtrl.showNWSWData(12, 'NW')"class="pointer">
			<span style="color: white">12</span>
		</div>
		<div class="flex-rectangle" id="11">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[10]}}" ng-click="dataCtrl.showNWSWData(11, 'NW')" class="pointer">
			<span style="color: white">11</span>
		</div>
		<div class="flex-rectangle" id="10">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[9]}}" ng-click="dataCtrl.showNWSWData(10, 'NW')" class="pointer" >
			<span style="color: white">10</span>
		</div>
		<div class="flex-rectangle" id="9">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[8]}}" ng-click="dataCtrl.showNWSWData(9, 'NW')" class="pointer">
			<span style="color: white">9</span>
		</div>
		<div class="flex-rectangle" id="8">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[7]}}" ng-click="dataCtrl.showNWSWData(8, 'NW')" class="pointer">
			<span style="color: white">8</span>
		</div>
		<div class="flex-rectangle" id="7">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[6]}}" ng-click="dataCtrl.showNWSWData(7, 'NW')" class="pointer" >
			<span style="color: white">7</span>
		</div>
		<div class="flex-rectangle" id="6">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[5]}}" ng-click="dataCtrl.showNWSWData(6, 'NW')" class="pointer">
			<span style="color: white">6</span>
		</div>
		<div class="flex-rectangle" id="5">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[4]}}" ng-click="dataCtrl.showNWSWData(5, 'NW')" class="pointer">
			<span style="color: white">5</span>
		</div>
		<div class="flex-rectangle" id="4">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[3]}}"  ng-click="dataCtrl.showNWSWData(4, 'NW')"class="pointer">
			<span style="color: white">4</span>
		</div>
		<div class="flex-rectangle" id="3">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[2]}}" ng-click="dataCtrl.showNWSWData(3, 'NW')" class="pointer">
			<span style="color: white">3</span>
		</div>
		<div class="flex-rectangle" id="2">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[1]}}" ng-click="dataCtrl.showNWSWData(2, 'NW')" class="pointer">
			<span style="color: white">2</span>
		</div>
		<div class="flex-rectangle" id="1">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[0]}}" ng-click="dataCtrl.showNWSWData(1, 'NW')" class="pointer">			
			<span style="color: white">1</span>
		</div>
	</div>

	<div style="text-align:center; position:relative; margin-top: 5px">
		<div class="flex-rectangle" id="47">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[15]}}" ng-click="dataCtrl.showNWSWData(47, 'SW')" class="pointer">
			<span style="color: white">47</span>
		</div>
		<div class="flex-rectangle" id="48">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[16]}}" ng-click="dataCtrl.showNWSWData(48, 'SW')" class="pointer">
			<span style="color: white">48</span>
		</div>
		<div class="flex-rectangle" id="49">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[17]}}" ng-click="dataCtrl.showNWSWData(49, 'SW')" class="pointer">
			<span style="color: white">49</span>
		</div>
		<div class="flex-rectangle" id="50">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[18]}}" ng-click="dataCtrl.showNWSWData(50, 'SW')" class="pointer">
			<span style="color: white">50</span>
		</div>
		<div class="flex-rectangle" id="51">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[19]}}" ng-click="dataCtrl.showNWSWData(51, 'SW')" class="pointer">
			<span style="color: white">51</span>
		</div>
		<div class="flex-rectangle" id="52">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[20]}}" ng-click="dataCtrl.showNWSWData(52, 'SW')" class="pointer">
			<span style="color: white">52</span>
		</div>
		<div class="flex-rectangle" id="53">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[21]}}" ng-click="dataCtrl.showNWSWData(53, 'SW')" class="pointer">
			<span style="color: white">53</span>
		</div>
		<div class="flex-rectangle" id="54">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[22]}}" ng-click="dataCtrl.showNWSWData(54, 'SW')" class="pointer">
			<span style="color: white">54</span>
		</div>
		<div class="flex-rectangle" id="55">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[23]}}" ng-click="dataCtrl.showNWSWData(55, 'SW')" class="pointer">
			<span style="color: white">55</span>
		</div>
		<div class="flex-rectangle" id="56">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[24]}}" ng-click="dataCtrl.showNWSWData(56, 'SW')" class="pointer">
			<span style="color: white">56</span>
		</div>
		<div class="flex-rectangle" id="57">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[25]}}" ng-click="dataCtrl.showNWSWData(57, 'SW')" class="pointer">
			<span style="color: white">57</span>
		</div>
		<div class="flex-rectangle" id="58">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[26]}}" ng-click="dataCtrl.showNWSWData(58, 'SW')" class="pointer">
			<span style="color: white">58</span>
		</div>
		<div class="flex-rectangle" id="59">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[27]}}" ng-click="dataCtrl.showNWSWData(59, 'SW')" class="pointer">
			<span style="color: white">59</span>
		</div>
		<div class="flex-rectangle" id="60">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[28]}}" ng-click="dataCtrl.showNWSWData(60, 'SW')" class="pointer">
			<span style="color: white">60</span>
		</div>
		<div class="flex-rectangle" id="61">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[29]}}" ng-click="dataCtrl.showNWSWData(61, 'SW')" class="pointer">
			<span style="color: white">61</span>
		</div>
		<div class="flex-rectangle" id="62">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[30]}}" ng-click="dataCtrl.showNWSWData(62, 'SW')" class="pointer">
			<span style="color: white">62</span>
		</div>
		<div class="flex-rectangle" id="63">
			<img style="max-height:100%; max-width:100%" ng-src="{{NWSWCarArray[31]}}" ng-click="dataCtrl.showNWSWData(63, 'SW')" class="pointer">
			<span style="color: white">63</span>
		</div>
	</div>
</div>