<div style="width:100%; height:100%;">
	<div style="text-align:center; position:relative; margin-top: 5px">
		<div class="flex-rectangle" id="47">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[15]}}" ng-click="garageCtrl.showWestData(47, 'SW')" class="pointer">
			<span style="color: white">47</span>
		</div>
		<div class="flex-rectangle" id="48">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[16]}}" ng-click="garageCtrl.showWestData(48, 'SW')" class="pointer">
			<span style="color: white">48</span>
		</div>
		<div class="flex-rectangle" id="49">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[17]}}" ng-click="garageCtrl.showWestData(49, 'SW')" class="pointer">
			<span style="color: white">49</span>
		</div>
		<div class="flex-rectangle" id="50">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[18]}}" ng-click="garageCtrl.showWestData(50, 'SW')" class="pointer">
			<span style="color: white">50</span>
		</div>
		<div class="flex-rectangle" id="51">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[19]}}" ng-click="garageCtrl.showWestData(51, 'SW')" class="pointer">
			<span style="color: white">51</span>
		</div>
		<div class="flex-rectangle" id="52">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[20]}}" ng-click="garageCtrl.showWestData(52, 'SW')" class="pointer">
			<span style="color: white">52</span>
		</div>
		<div class="flex-rectangle" id="53">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[21]}}" ng-click="garageCtrl.showWestData(53, 'SW')" class="pointer">
			<span style="color: white">53</span>
		</div>
		<div class="flex-rectangle" id="54">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[22]}}" ng-click="garageCtrl.showWestData(54, 'SW')" class="pointer">
			<span style="color: white">54</span>
		</div>
		<div class="flex-rectangle" id="55">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[23]}}" ng-click="garageCtrl.showWestData(55, 'SW')" class="pointer">
			<span style="color: white">55</span>
		</div>
		<div class="flex-rectangle" id="56">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[24]}}" ng-click="garageCtrl.showWestData(56, 'SW')" class="pointer">
			<span style="color: white">56</span>
		</div>
		<div class="flex-rectangle" id="57">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[25]}}" ng-click="garageCtrl.showWestData(57, 'SW')" class="pointer">
			<span style="color: white">57</span>
		</div>
		<div class="flex-rectangle" id="58">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[26]}}" ng-click="garageCtrl.showWestData(58, 'SW')" class="pointer">
			<span style="color: white">58</span>
		</div>
		<div class="flex-rectangle" id="59">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[27]}}" ng-click="garageCtrl.showWestData(59, 'SW')" class="pointer">
			<span style="color: white">59</span>
		</div>
		<div class="flex-rectangle" id="60">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[28]}}" ng-click="garageCtrl.showWestData(60, 'SW')" class="pointer">
			<span style="color: white">60</span>
		</div>
		<div class="flex-rectangle" id="61">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[29]}}" ng-click="garageCtrl.showWestData(61, 'SW')" class="pointer">
			<span style="color: white">61</span>
		</div>
		<div class="flex-rectangle" id="62">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[30]}}" ng-click="garageCtrl.showWestData(62, 'SW')" class="pointer">
			<span style="color: white">62</span>
		</div>
		<div class="flex-rectangle" id="63">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[31]}}" ng-click="garageCtrl.showWestData(63, 'SW')" class="pointer">
			<span style="color: white">63</span>
		</div>
	</div>

	<div style="text-align:center; position:relative; margin-top: 5px">
		<div class="flex-rectangle" id="15">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[14]}}" ng-click="garageCtrl.showWestData(15, 'NW')" class="pointer">
			<span style="color: white">15</span>
		</div>
		<div class="flex-rectangle" id="14">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[13]}}" ng-click="garageCtrl.showWestData(14, 'NW')" class="pointer">
			<span style="color: white">14</span>
		</div>
		<div class="flex-rectangle" id="13">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[12]}}" ng-click="garageCtrl.showWestData(13, 'NW')" class="pointer">
			<span style="color: white">13</span>
		</div>
		<div class="flex-rectangle" id="12">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[11]}}" ng-click="garageCtrl.showWestData(12, 'NW')"class="pointer">
			<span style="color: white">12</span>
		</div>
		<div class="flex-rectangle" id="11">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[10]}}" ng-click="garageCtrl.showWestData(11, 'NW')" class="pointer">
			<span style="color: white">11</span>
		</div>
		<div class="flex-rectangle" id="10">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[9]}}" ng-click="garageCtrl.showWestData(10, 'NW')" class="pointer" >
			<span style="color: white">10</span>
		</div>
		<div class="flex-rectangle" id="9">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[8]}}" ng-click="garageCtrl.showWestData(9, 'NW')" class="pointer">
			<span style="color: white">9</span>
		</div>
		<div class="flex-rectangle" id="8">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[7]}}" ng-click="garageCtrl.showWestData(8, 'NW')" class="pointer">
			<span style="color: white">8</span>
		</div>
		<div class="flex-rectangle" id="7">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[6]}}" ng-click="garageCtrl.showWestData(7, 'NW')" class="pointer" >
			<span style="color: white">7</span>
		</div>
		<div class="flex-rectangle" id="6">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[5]}}" ng-click="garageCtrl.showWestData(6, 'NW')" class="pointer">
			<span style="color: white">6</span>
		</div>
		<div class="flex-rectangle" id="5">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[4]}}" ng-click="garageCtrl.showWestData(5, 'NW')" class="pointer">
			<span style="color: white">5</span>
		</div>
		<div class="flex-rectangle" id="4">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[3]}}"  ng-click="garageCtrl.showWestData(4, 'NW')"class="pointer">
			<span style="color: white">4</span>
		</div>
		<div class="flex-rectangle" id="3">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[2]}}" ng-click="garageCtrl.showWestData(3, 'NW')" class="pointer">
			<span style="color: white">3</span>
		</div>
		<div class="flex-rectangle" id="2">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[1]}}" ng-click="garageCtrl.showWestData(2, 'NW')" class="pointer">
			<span style="color: white">2</span>
		</div>
		<div class="flex-rectangle" id="1">
			<img style="max-height:100%; max-width:100%" ng-src="{{WestCarArray[0]}}" ng-click="garageCtrl.showWestData(1, 'NW')" class="pointer">
			<span style="color: white">1</span>
		</div>
	</div>
</div>