<md-dialog aria-label="New Reservation" ng-cloak flex="45">
  <form name="myForm" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span  class="description"><h2>New Reservation Spot #{{parkingSpot}}</h2></span>
        <span flex></span>
      </div>
    </md-toolbar>

    <span ng-show="invalid" style="color: red; margin-left: 10px">Parker name is required</span>

    <md-dialog-content style="max-width:830px;max-height:810px; ">
      <!-- Name field for reserver -->
      <md-input-container style="margin-top: 25px; margin-left: 10px;" flex>
          <label>Parker's Name</label>
          <input ng-model="parkerName" name="parkerName" required>
      </md-input-container>

      <!-- Date fields for reservation dates -->
      <span class="nextLine"><br></span>
      <md-datepicker ng-model="beginParkDate" ng-change="changeDate()"></md-datepicker> 
      <span class="noIndent"> through </span>
      <span class="indent" style="margin-left: 31%"> <br>through </span>
      <span class="nextLine"><br></span>
      <md-datepicker ng-model="endParkDate"></md-datepicker> <br><br>

      <!-- text box for reason -->
      <md-input-container style="margin-left: 10px" flex>
        <label>Reason</label>
        <textarea ng-model="reason" cols="60" ></textarea>
      </md-input-container>
    </md-dialog-content>

    </md-dialog-actions>
      <div class="md-actions" layout="row">
        <md-button ng-click="cancel()" style="margin-right:20px;" >
          Cancel
        </md-button>
        <md-button ng-click="checkValid(myForm.parkerName.$valid); " style="margin-right:20px;" >
          Submit
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>