<md-dialog aria-label="New Reservation" ng-cloak flex="45">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New Reservation Spot #</h2> {{parkingSpot}}
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:830px;max-height:810px; ">
      <!-- Name field for reserver -->
      <md-input-container style="margin-top: 25px; margin-left: 10px;" flex>
          <label>Parker's Name</label>
          <input ng-model="parkerName">
      </md-input-container>

      <!-- Date fields for reservation dates -->
      <md-datepicker ng-model="beginParkDate" ng-change="changeDate()"></md-datepicker> 
      <span> thru </span>
      <md-datepicker ng-model="endParkDate"></md-datepicker> <br><br>

      <!-- text box for reason -->
      <md-input-container style="margin-left: 10px" flex>
        <label>Reason</label>
        <textarea ng-model="reason" cols="60" ></textarea>
      </md-input-container>
    </md-dialog-content>

    </md-dialog-actions>
      <div class="md-actions" layout="row">
        <md-button ng-click="cancel()" style="margin-right:20px;" >
          Cancel
        </md-button>
        <md-button ng-click="submit(); " style="margin-right:20px;" >
          Submit
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>










<!-- <md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Mango (Fruit)</h2>
    </div>
  </md-toolbar>
    
  <div class="md-actions" layout="row">
    <md-button ng-click="answer('not useful')">
     Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" style="margin-right:20px;" >
      Useful
    </md-button>
  </div>
  </form>
</md-dialog> -->