<div style="width:100%; height:100%;">
	<div style="text-align:center; position:relative; top: 30px">
		<div class="flex-rectangle" id="47">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[0]}}" ng-click="dataCtrl.showSouthwestData(1)" class="pointer">
			<span style="color: white">47</span>
		</div>
		<div class="flex-rectangle" id="48">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[1]}}" ng-click="dataCtrl.showSouthwestData(2)" class="pointer">
			<span style="color: white">48</span>
		</div>
		<div class="flex-rectangle" id="49">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[2]}}" ng-click="dataCtrl.showSouthwestData(3)" class="pointer">
			<span style="color: white">49</span>
		</div>
		<div class="flex-rectangle" id="50">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[3]}}" ng-click="dataCtrl.showSouthwestData(4)" class="pointer">
			<span style="color: white">50</span>
		</div>
		<div class="flex-rectangle" id="51">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[4]}}" ng-click="dataCtrl.showSouthwestData(5)" class="pointer">
			<span style="color: white">51</span>
		</div>
		<div class="flex-rectangle" id="52">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[5]}}" ng-click="dataCtrl.showSouthwestData(6)" class="pointer">
			<span style="color: white">52</span>
		</div>
		<div class="flex-rectangle" id="53">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[6]}}" ng-click="dataCtrl.showSouthwestData(7)" class="pointer">
			<span style="color: white">53</span>
		</div>
		<div class="flex-rectangle" id="54">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[7]}}" ng-click="dataCtrl.showSouthwestData(8)" class="pointer">
			<span style="color: white">54</span>
		</div>
		<div class="flex-rectangle" id="55">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[8]}}" ng-click="dataCtrl.showSouthwestData(9)" class="pointer">
			<span style="color: white">55</span>
		</div>
		<div class="flex-rectangle" id="56">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[9]}}" ng-click="dataCtrl.showSouthwestData(10)" class="pointer">
			<span style="color: white">56</span>
		</div>
		<div class="flex-rectangle" id="57">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[10]}}" ng-click="dataCtrl.showSouthwestData(11)" class="pointer">
			<span style="color: white">57</span>
		</div>
		<div class="flex-rectangle" id="58">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[11]}}" ng-click="dataCtrl.showSouthwestData(12)" class="pointer">
			<span style="color: white">58</span>
		</div>
		<div class="flex-rectangle" id="59">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[12]}}" ng-click="dataCtrl.showSouthwestData(13)" class="pointer">
			<span style="color: white">59</span>
		</div>
		<div class="flex-rectangle" id="60">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[13]}}" ng-click="dataCtrl.showSouthwestData(14)" class="pointer">
			<span style="color: white">60</span>
		</div>
		<div class="flex-rectangle" id="61">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[14]}}" ng-click="dataCtrl.showSouthwestData(15)" class="pointer">
			<span style="color: white">61</span>
		</div>
		<div class="flex-rectangle" id="62">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[15]}}" ng-click="dataCtrl.showSouthwestData(16)" class="pointer">
			<span style="color: white">62</span>
		</div>
		<div class="flex-rectangle" id="63">
			<img style="max-height:100%; max-width:100%" ng-src="{{southwestCarArray[16]}}" ng-click="dataCtrl.showSouthwestData(17)" class="pointer">
			<span style="color: white">63</span>
		</div>
	</div>
</div>